langchain==0.3.13
langchain-anthropic==0.3.1
langchain-community==0.3.13
langchain-core==0.3.28
langchain-experimental==0.3.4
langchain-openai==0.2.12
langchain-text-splitters==0.3.4
langgraph==0.2.60
langgraph-checkpoint==2.0.9
langgraph-checkpoint-sqlite==2.0.1
langgraph-cli==0.1.61
langgraph-sdk==0.1.44
langsmith==0.2.3
llama-index-core==0.12.16.post1
llama-index-embeddings-huggingface==0.5.1
marshmallow==3.23.1
minijinja==2.7.0
mistune==3.0.2
mkl-service==2.4.0
mmh3==5.1.0
monotonic==1.6
msgpack==1.1.0
mypy-extensions==1.0.0
nbclient==0.10.1
nbconvert==7.16.4
nbformat==5.10.4
nltk==3.9.1
notebook==7.3.1
notebook_shim==0.2.4
oauthlib==3.2.2
onnxruntime==1.20.1
openai==1.57.3
opencv-python==4.10.0.84
python-dotenv==1.0.1
python-json-logger==3.2.0
scikit-learn==1.6.0
scipy==1.14.1
Send2Trash==1.8.3
tavily-python==0.5.0
tiktoken==0.8.0
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.2
wikipedia==1.4.0
openai==1.42.0
openpyxl==3.1.5
python-dotenv==1.0.1
requests==2.32.3
requests-toolbelt==1.0.0
streamlit==1.37.1
beautifulsoup4==4.12.3
scikit-learn==1.6.0                    
scipy==1.14.1                   
send2trash==1.8.3                   
sentence-transformers==3.4.1 
